div(class="camera-super-wrapper")
  div(class='camera-banner-container')
    div(class='content-container')
      h1(class="title") Mc Donalds
      p(class="text") Parece que te estás portando mal, comprueba con una foto que estás comiendo bien o sufre las consecuencias.
    div(class="icon-container")
      img(src="./images/camoff.png")
