header
  div(id='profile-pic')
    img(src="https://pbs.twimg.com/profile_images/466608337262350336/Ybpv3YAt.jpeg", alt="helloMyFriend")
  div(class='friends-container')
    ul
      li 
        div(class='friends-box')
          img(src="https://pbs.twimg.com/profile_images/466608337262350336/Ybpv3YAt.jpeg", alt="helloMyFriend")
      li 
        div(class='friends-box')
          img(src="https://pbs.twimg.com/profile_images/466608337262350336/Ybpv3YAt.jpeg", alt="helloMyFriend")
      li 
        div(class='friends-box')
          img(src="https://pbs.twimg.com/profile_images/466608337262350336/Ybpv3YAt.jpeg", alt="helloMyFriend")
