doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/header.css')
    link(rel='stylesheet', href='/css/cameraBanner.css')
    link(rel='stylesheet', href='/css/mapa.css')
  body
    include includes/header.jade
    block content
