.camera-banner-container {
  position: absolute;
  bottom: 50px;
  left: 0px;
  z-index: 999;
  background-color: #FFF;
  margin: 1em;
  border: solid #000 0.45em;
  display: flex;
  flex-direction: row;
  height: 15vh;
  align-items: center;
  flex: 1; }
  .camera-banner-container .content-container {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    align-items: flex-start;
    flex: 1; }
    .camera-banner-container .content-container .title {
      font-size: 2.5vh; }
    .camera-banner-container .content-container .text {
      color: #BDBDBD;
      font-size: 1.75vh;
      padding: 0 1em 0 0; }
  .camera-banner-container .icon-container {
    background-image: url("../images/camoff.png");
    background-size: 15vh;
    background-repeat: no-repeat;
    display: block;
    padding: 0;
    margin: 0;
    text-align: right;
    width: 15vh;
    height: 15vh; }
