$banner-background: #FFF;
$banner-border: 0.45em;
$banner-border-color: #000;
$banner-image-box-size: 15vh;

.camera-banner-container{
  background-color: $banner-background;
  margin: 1em;
  border: solid $banner-border-color $banner-border;
  display: flex;
  flex-direction: row;
  height: $banner-image-box-size;
  align-items: center;
  flex: 1;
  .content-container{
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    align-items: flex-start;
    flex: 1;
    .title{
      font-size: 2.5vh;
    }
    .text{
      color: #BDBDBD;
      font-size: 1.75vh;
      padding: 0 1em 0 0;
    }
  }

  .icon-container{
    padding: 0;
    margin: 0;
    text-align: right;
    img{
      width: $banner-image-box-size;
      height: $banner-image-box-size;
    }
  }
}
