//Header SASS
$header-background: #B165E3;

header {
  background: radial-gradient(circle at 100% 50%, transparent 20%, rgba(0,0,0,.8) 21%, rgba(0,0,0,.8) 34%, transparent 35%, transparent),
              radial-gradient(circle at 0% 50%, transparent 20%, rgba(0,0,0,.8) 21%, rgba(0,0,0,.8) 34%, transparent 35%, transparent) 0 -50px;
  background-color: $header-background;
  background-size:75px 100px;
  height:10vh;
  padding:4vh;
}

#profile-pic {
  background-color:white;
  height:6vh;
  width:6vh;
  border-style:solid;
  border-width:0.5em;
  border-color:black;
  padding:2vh;
  #photo{
    background-image: url(https://avatars.io/twitter/grafofilia/medium);
    height:5vh;
    width:5vh;
    border-radius:50%;
    border-width:0.5em;
    border-style:solid;
  }
}

#friends {
  background-color:white;
  height:6vh;
  width:6vh;
  margin-left:5em;
  border-style:solid;
  border-width:0.5em;
  border-color:black;
  display:inline-block;
}
